* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: antiquewhite;
}

body {
    margin: 0;
}
.recipes {
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
    border: ridge;
}

.home {
    background-color: green;
    color: white;
    align-content: center;
}

.h1 {
    font-size: 34px;
    text-decoration: dashed;
}

.h2 {
    font-size: 26px;
}

.ingredients {
    display: flex;
}

.recipes {
    list-style: none;
    background-color: coral;
    color: black;
}

.box {
    padding: 75px;
}
.box, .inner-box {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.box ul, .box ol, p{
    margin: 0px;
    font-size: 20px;
}

.box .steps{
    padding: 10px 250px;
}

img {
    width: 300px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
  }