* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
    border: ridge;
}

.home {
    background-color: green;
    color: white;
    align-content: center;
}



.recipes {
    list-style: none;
    background-color: coral;
    color: black;
}

.box {
    padding: 75px;
}
.box, .inner-box {
    display: flex;
    flex-flow: column;
    padding: 8px;
    margin: auto;
    align-items: center;
    box-sizing: border-box;
}

.box ul, .box ol {
    padding: 0px 250px;
    margin: 0px;
}

img {
    width: 300px;
}